%h2
  = t('.title')

#groups_owned
  - if @group.nil?
    %p= t('.no_group_create', :link => link_to(t('.create_group'), new_group_path))
  - else
    %p= t('.your_group')
    .group.owned
      = list_groups([@group])

#groups
  - if @groups.any?
    %p= t('.groups_in')
    = list_groups(@groups)
  - else
    .account
      %p= t('.no_groups')

= render :partial => 'column'

