%h3= h(@group.name)

%h2= "Users"
#users
  - @group.users.each do |user|
    .user= link_to user.name, user_path(user)
= link_to "Add user", "#"

%h2= "Projects"
#projects
  - @group.projects.each do |project|
    .project= link_to project.name, project_path(project)
= link_to "Add project", "#"
