
%h2
  = h(@group.name)
  - if true#current_user.can_edit? @group
    %span
      = link_to t('.edit'), edit_group_path(@group)

%h3= "Users"
#users
  - @group.users.each do |user|
    .user= link_to user.name, user_path(user)

.index_people
  .content
    = invite_form(@group,Invitation.new)
    #people.people
      = list_invitations_for_group(@group,@invitations)
      = list_people(@group,@people)


%h3= "Projects"
#projects
  = render :partial => 'groups/project', :collection => @group.projects
= add_group_project_link
= group_project_form
