
%h2
  = h(@group.name)
  - if true#current_user.can_edit? @group
    %span
      = link_to t('.edit'), edit_group_path(@group)

%h3= "Users"
.index_people
  .content
    .invite_box
      = invite_by_group_search(@group, Invitation.new)
      .clear
    #people.people
      = list_invitations_for_group(@group,@invitations)
      = list_members(@group,@group.users)


%h3= "Projects"
#projects
  = render :partial => 'groups/project', :collection => @group.projects
= add_group_project_link
= group_project_form
